{*layout '../@layout.latte'*}

{var $title = "Page delete"}
{var $description = "Admin Simple CMS Page delete"}
{var $keywords = "Admin, SimpleCMS, page, delete"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
page delete