{block breadcrumbMenu}
	<div class="flex-grow-1 border-start pt-3 ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb" n:inner-foreach="$breadcrumb as $item">
				{if $iterator->last}
					<li class="breadcrumb-item active" aria-current="page">
				{else}
					<li class="breadcrumb-item">
				{/if}
					<a class="link-offset-2" n:tag-if="!$iterator->last" n:href="$item['full']">{$item['short']}</a>
				</li>
			</ol>
		</nav>
	</div>
{/block}