<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="{default $description='Description'}{$description}">
  	<meta name="keywords" content="{default $keywords='Keywords'}{$keywords}">
	<meta name="Robots" content="{default $robots = 'INDEX, FOLLOW'}{$robots}">
  	<!--  <meta name="referrer" content="origin-when-cross-origin"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="I-Jurij">
	 <title>{default $title = "Title"}{$title}</title> 
	<!-- Google Fonts 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	-->
	<link rel="stylesheet" href="{webpack css/main.css}">
	<link rel="icon" href="{$basePath}/images/favicon.ico">

</head>

<body style="">
	<div n:ifcontent n:inner-foreach="$flashes as $flash" class="flash"  id="flash_message">
		<div class="bgcontent flash_child ">
			<p class="m2 p2 round {$flash->type}">{$flash->message}</p>
			<p id="for_button_close_insert">
				<noscript>
					<a n:href=':Home:' class="button">Close</a>
				</noscript>
			</p>
		</div>
	</div>

	<div class="header_main">
		<div n:if="$user->isLoggedIn()" style="text-align:right;">
			<a n:href="Sign:out">Выйти</a>
		</div>

		{include header from '@layout-header.latte'}
		
		<main class="main_section">
			{include breadcrumbMenuHome from $shared_templates.'breadcrumb_home.latte'}
			
			<!-- <h1 class="m05p05 rounded center shadow bgcontent main_title">{$title}</h1> -->
			<div class="center">
				{include content}	
			</div>
		</main>
	</div>

	<div class="spacer"></div>

	<footer class="main_footer">
		{include footer from '@layout-footer.latte'} 
	</footer>

	<div !n:if="$user->isLoggedIn()"class="center">
		<a n:href=":Admin:" style="color:var(--bgcolor-content);">-&nbsp;&nbsp;&nbsp;</a>
	</div>

	{block scripts}
		<script src="{webpack js/main.js}"></script>
	{/block}
</body>
</html>
