{*layout '../@layout.latte'*}

{var $title = "Roles permissions updating"}
{var $description = "Roles permissions updating"}
{var $keywords = "Roles permissions updating"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
roles permissions updating:
table role name | resource | action 
with checkboxes for choice