{*layout '../@layout.latte'*}

{var $title = "Order update"}
{var $description = "Admin Simple CMS Order update"}
{var $keywords = "Admin, SimpleCMS, Order, update"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
Order update