<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="{default $description='Description'}{$description}">
  	<meta name="keywords" content="{default $keywords='Keywords'}{$keywords}">
	<meta name="Robots" content="{default $robots = 'INDEX, FOLLOW'}{$robots}">
  	<!--  <meta name="referrer" content="origin-when-cross-origin"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="I-Jurij">
	 <title>{default $title = "Title"}{$title}</title> 
	<!-- Google Fonts 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	-->
	<link rel="stylesheet" href="{webpack css/main.css}">
	<link rel="icon" href="{$basePath}/images/favicon.ico">

</head>

<body style="">
	<div n:ifcontent n:inner-foreach="$flashes as $flash" class="flash"  id="flash_message">
		<div class="bgcontent flash_child ">
			<p class="m2 p2 round {$flash->type}">{$flash->message}</p>
			<p id="for_button_close_insert">
				<noscript>
					<a n:href=':Home:' class="button">Close</a>
				</noscript>
			</p>
		</div>
	</div>

	<div class="header_main">
		<div n:if="$user->isLoggedIn()" style="text-align:right;">
			<a n:href="Sign:out">Logout</a>
		</div>

		<header>Header</header>
		<hr>
		
		<main class="main_section">			
			<h1>{$title}</h1>
			<div class="center">
				{include content}	Content
			</div>
		</main>
	</div>

	<div class="spacer"></div>

	<footer class="main_footer">
		Footer
	</footer>

	<script src=""></script>
	{block scripts}{/block}
</body>
</html>
