{*layout '../@layout.latte'*}

{var $title = "Permissions"}
{var $description = "Permissions"}
{var $keywords = "Permissions"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="container">
    <h2 class="text-center">Permissions</h2>
    <div class="mt-4 text-center">
        <a class="btn btn-primary" type="button" n:href=":Admin:Users:Permissions:add">Add</a>
        <a class="btn btn-primary" type="button" n:href=":Admin:Users:Permissions:delete">Delete</a>
    </div>
</div>