{*layout '../@layout.latte'*}

{var $title = "Page update"}
{var $description = "Admin Simple CMS Page update"}
{var $keywords = "Admin, SimpleCMS, Page, update"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
page update