{var $title = 'Регистрация'}
{var $description = "User registration page"}
{var $keywords = "Регистрация, registration"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
<div class="mb2">
    {control signUpForm}
</div>