extensions:
	captcha: 
		NgatNgay\NetteFormCaptcha\DI\CaptchaExtension

captcha:
	autoload: yes
	type: numeric # numeric | text | image
	questions:
		"Fatherland of bush elephant?": "Africa"
		"Fatherland of forest elephant?": "Africa"
		"Country of asian elephant?": "India"
		"Number &pi;?": "3.141592"    