parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
	sqlite:
		dsn: "sqlite:%appDir%/Db/sqlite.db"
		# autowired: true
		options:
			lazy: yes
	mysql:
		dsn: 'mysql:host=127.0.0.1;dbname=xxx'
		user: 'xxx'
		password: 'xxx'
		# autowired: false
		options:
			lazy: yes

latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
