parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping: App\UI\*\**Presenter


database:
	default:
		dsn: 'mysql:host=127.0.0.1;dbname=xxx'
		user: 'xxx'
		password: 'xxx'
		options:
			lazy: yes
	pages_sqlite:
		#dsn: 'sqlite::memory:'
		dsn: "sqlite:%appDir%/Db/pages_sqlite.db"
		options:
			lazy: yes


latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
