database:
	mysql:
		dsn: 'mysql:host=127.0.0.1;dbname=oswc2'
		user: 'root'
		password: ''
		autowired: false
		options:
			lazy: yes

	sqlite:
		dsn: "sqlite:%appDir%/Db/oswc2.db"
		autowired: true
		options:
			lazy: yes
