database:
	sqlite:
		dsn: "sqlite:%appDir%/Db/sqlite.db"
		# autowired: true
		options:
			lazy: yes
	mysql:
		dsn: 'mysql:host=127.0.0.1;dbname=xxx'
		user: 'xxx'
		password: 'xxx'
		# autowired: false
		options:
			lazy: yes