constants:
	APPDIR: %appDir%
	WWWDIR: %wwwDir%
	SITE_NAME: 'ACNettewww'
	DEFAULT_IMAGE: 'images/ddd.jpg' # in www folder
	CACHE_DIR: '../temp/cache'
	PASSWORD_MIN_LENGTH: 7
routing:
	# cache: true
   