services:
	- App\Core\RouterFactory::createRouter
	- App\Model\MyAuthenticator(@database.sqlite.explorer)
	- App\Model\PageFacade(@database.sqlite.connection)
	- App\Model\UserFacade(@database.sqlite.explorer)


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
