<!DOCTYPE html>
<html lang="en" class="site--nette">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>Vue.js with nette – Nette Blog</title>

	<meta name="author" content="David Grudl; https://davidgrudl.com">
	<meta name="description" content="The Integration of Vue.js into Nette is not very difficult and can be done in a few minutes as we soon find out. In this example, I show you how to create a Vue component for search input with autocompletion.">
	<meta property="og:title" content="Vue.js with nette">
	<meta property="og:description" content="The Integration of Vue.js into Nette is not very difficult and can be done in a few minutes as we soon find out. In this example, I show you how to create a Vue component for search input with autocompletion."> 
	<meta property="og:image" content="https://files.nette.org/blog/main/98-m.jpg">
	<meta property="og:image:width" content="1060">
	<meta property="og:image:height" content="697">
	<meta property="og:url" content="https://blog.nette.org/en/vue-js-with-nette">
	<meta property="og:site_name" content="Nette Blog">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@nettefw">
	<meta name="twitter:image" content="https://files.nette.org/blog/main/98-m.jpg">
	<meta name="twitter:title" content="Vue.js with nette">

	<link rel="apple-touch-icon" sizes="228x228" href="https://files.nette.org/icons/nette/favicon.png">
	<link rel="icon" type="image/png" href="https://files.nette.org/icons/nette/favicon.png" sizes="228x228">
	<link rel="manifest" href="https://files.nette.org/icons/nette/site.webmanifest">
	<link rel="mask-icon" href="https://files.nette.org/icons/nette/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="alternate" hreflang="cs" href="https://blog.nette.org/cs/vue-js-v-nette">
	<link rel="alternate" hreflang="en" href="https://blog.nette.org/en/vue-js-with-nette">
	<link href="/en/feed/rss" rel="alternate" type="application/rss+xml" title="Posts RSS">
	<link href="/en/feed/comments" rel="alternate" type="application/rss+xml" title="Comments RSS">


	<script src="https://www.googletagmanager.com/gtag/js?id=G-351ZWVTLMC" async></script>
	<script>
		var cyrb53 = function(f,c){ c=void 0===c?0:c;for(var a=3735928559^c,b=1103547991^c,d=0,e;d<f.length;d++)e=f.charCodeAt(d),a=Math.imul(a^e,2654435761),b=Math.imul(b^e,1597334677);a=Math.imul(a^a>>>16,2246822507)^Math.imul(b^b>>>13,3266489909);b=Math.imul(b^b>>>16,2246822507)^Math.imul(a^a>>>13,3266489909);return 4294967296*(2097151&b)+(a>>>0)};
		var validityInterval = Math.round(new Date() / 1000 / 3600 / 24 / 7);
		var clientIdHash = cyrb53(["2.63.180.36", validityInterval, window.location.host, navigator.userAgent, navigator.language, screen.height, screen.width, screen.colorDepth, new Date().getTimezoneOffset()].join(';')).toString(16);

		window.dataLayer = window.dataLayer || [];
		function gtag(){ dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-351ZWVTLMC', { client_storage: 'none', anonymize_ip: true, client_id: clientIdHash })
	</script>

	<link rel="stylesheet" href="https://files.nette.org/combined.css?v=1713483084">
	<script>
		(new ResizeObserver(() => { document.documentElement.style.setProperty('--viewport-width', document.documentElement.clientWidth + 'px'); })).observe(document.documentElement);
	</script>
</head>


<body>
<script src="https://files.nette.org/combined.js?v=1715120645" async></script>

<div class="nettebar-placeholder nettebar--sticky"></div>
<script src="https://nette.org/endpoint?nettebar=3&amp;lang=en&amp;active=blog&amp;langs=cs,en" async></script>


<section class="main">
	<div class="container">
	<div class="container-margin" style="overflow: hidden">
<div class="content">
	<div class="blogPostWrapper wiki">

	<main class="blogPost">
		<h1>Vue.js with nette</h1>

		<div class="blogMeta">
			<span title="17. 2. 2020">4 years ago</span>
            by
			<b><a href="https://forum.nette.org/en/profile/66">Ivo Toman</a></b>
                translated by
				<b><a href="https://forum.nette.org/en/profile/20732">Depka</a></b>
			&nbsp;


			
		</div>

		<div class="blogPerex">
			<p><b>The Integration of Vue.js into Nette</b> is not very difficult and can be
done in a few minutes as we soon find out. In this example, I show you how to
create a Vue component for <b>search input with autocompletion</b>.</p>
		</div>

			<div>

			<div class="blogPost-figure">
				<img src="https://files.nette.org/blog/main/98-b.jpg">
			</div>

			

<p>If you're working on SPA project with Nette, then Nette is probably handling
the API side of your project, and Vue is communicating with it. Both
applications are pretty much independent of each other. I, however, wanted to
use Vue on a classic website in conjunction with Nette latte templates, which
are inside Nette components. This approach requires a little work on
integration.</p>

<p>We'll start with the integration of <a
href="https://blog.nette.org/en/webpack-integration-into-nette-projects">webpack</a>.
By the way if you're not a fan of typical webpack configuration like me, you can
use <a
href="https://symfony.com/doc/current/frontend.html#webpack-encore">Symfony
Encore</a> which is IMHO much more friendly for PHP developers. You can find the
integration of <a
href="https://github.com/68publishers/webpack-encore-bundle">Encore into Nette
here</a>.</p>

<h2 id="toc-vue-component">Vue component</h2>

<p>After webpack is set to build our assets, it's time to create <a
href="https://vuejs.org/v2/guide/single-file-components.html">Vue SFC</a>
(Single File Component)</p>

<p>SFC is a component(i.e. autocomplete.vue) which is possible to divide into
3 parts. First part is dedicated to the HTML template, the second part is for
Javascript, and the third one is for CSS styles. Although all three parts belong
in the same file, I'll describe them separately for better readability.</p>

<pre
class="language-latte"><code>&lt;template&gt;
    &lt;div class=&quot;autocomplete&quot;&gt;
        &lt;form autocomplete=&quot;off&quot;&gt;&lt;!--required for disable google chrome auto fill--&gt;
        &lt;input
                type=&quot;text&quot;
                :placeholder=&quot;placeholder&quot;
                :name=&quot;inputname&quot;
                class=&quot;form-control&quot;
                v-model=&quot;searchquery&quot;
                @input=&quot;autoComplete&quot;
                @keydown.down=&quot;onArrowDown&quot;
                @keydown.up=&quot;onArrowUp&quot;
                @keydown.enter=&quot;onEnter&quot;
        &gt;
        &lt;div class=&quot;autocomplete-result&quot; v-show=&quot;isOpen&quot;&gt;
            &lt;ul class=&quot;list-group&quot;&gt;
                &lt;li class=&quot;list-group-item&quot;
                    v-for=&quot;(result, i) in results&quot;
                    :key=&quot;result.id&quot;
                    @click=&quot;setResult(result)&quot;
                    :class=&quot;{ 'is-active': i === arrowCounter }&quot;
                &gt;
                    {{ result[choice] }}
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;/form&gt;
    &lt;/div&gt;
&lt;/template&gt;</code></pre>

<p>So firstly, we defined the template for our component in the template
section. The only thing that is interesting in this code is probably the part
with <code>:</code> which is a shortcut for <a
href="https://vuejs.org/v2/api/#v-bind">v-bind</a> that handles the connection
between data and props. The part with <code>@</code> is a shortcut for <a
href="https://vuejs.org/v2/api/#v-on">v-on</a> which binds event listeners on a
particular element and runs a particular method when the desired event occurs.
More on this later.</p>

<p>Don't forget that Vue component <b>has to have only one root element</b>.</p>

<h3 id="toc-2-3-javascript">2/3 javascript</h3>

<pre
class="language-javascript"><code>&lt;script&gt;
    import axios from 'axios';

    export default {
        name: &quot;autocomplete&quot;,
        props: {
            source: {
                type: String,
                required: true,
            },
            choice: {
                type: String,
                required: true,
            },

            placeholder: String,
            inputname: String
        },
        data: function () {
            return {
                searchquery: '',
                results: [],
                isOpen: false,
                arrowCounter: -1,
            }
        },
        methods: {
            autoComplete() {
                this.$emit('autocomplete-start');
                this.results = [];
                if (this.searchquery.length &gt; 2) {
                    axios.get(this.source, {params: {[this.inputname]: this.searchquery}})
                        .then(response =&gt; {
                            this.results = response.data.data;
                            this.isOpen = true;
                        })
                        .catch((error) =&gt; {
                            // console.log(error);
                        });
                }
            },
            setResult(item) {
                this.isOpen = false;
                this.searchquery = item[this.choice];
                this.product_id = item.id;
                this.$emit('selected', item);
            },
            onArrowDown() {
                if (this.arrowCounter &lt; this.results.length - 1) {
                    this.arrowCounter = this.arrowCounter + 1;
                }
            },
            onArrowUp() {
                if (this.arrowCounter &gt; 0) {
                    this.arrowCounter = this.arrowCounter - 1;
                }
            },
            onEnter() {
                this.setResult(this.results[this.arrowCounter]);
                this.arrowCounter = -1;
            },
            handleClickOutside(evt) {
                if (!this.$el.contains(evt.target)) {
                    this.isOpen = false;
                    this.arrowCounter = -1;
                }
            }
        },
        mounted() {
            document.addEventListener('click', this.handleClickOutside)
        },
        destroyed() {
            document.removeEventListener('click', this.handleClickOutside)
        }
    }
&lt;/script&gt;</code></pre>

<p>We started here with the import of Axios, which is a library used for HTTP
communication (ajax). After the import, we prepared <a
href="https://vuejs.org/v2/guide/components-props.html">props</a>, which are
data passed into the component when the component is initialized and <a
href="https://vuejs.org/v2/guide/reactivity.html">data</a> object, which Vue.js
needs for its reactivity.</p>

<p>Lastly, we defined methods that are fired through events (see <a
href="https://vuejs.org/v2/api/#v-on">v-on</a>) or by calling them directly in
code. <code>this.$emit('selected', item);</code> is also worth to mention as it
emits the selected event which can be processed inside the component itself –
this concept is very similar to the one we use in Nette. Now we can use the
component on multiple places with different data sources and with different
result processing.</p>

<p>Do you still remember the <a
href="https://doc.nette.org/en/application/presenters#toc-life-cycle-of-presenter">Lifecycle
of Presenter</a> in Nette? You do? Great! <a
href="https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram">Vue has it
too</a>. Hooks can be used for closing the suggestion list when the user clicks
outside of the list by binding it to an event.</p>

<h3 id="toc-3-3-css">3/3 css</h3>

<pre
class="language-css"><code>&lt;style scoped&gt;
    .autocomplete-result .is-active,
    .autocomplete-result li:hover {
        background-color: #379d2f;
        color: white;
    }
&lt;/style&gt;</code></pre>

<p>I only mention here that if you set style scoped in the CSS part of our
component, the CSS styles will be applied only for this particular component and
will not override our other styles on the website.</p>

<h2 id="toc-connecting-vue-component-with-nette">Connecting Vue component with
Nette</h2>

<p>All right, we have our Vue component, but how do we connect it
with Nette?</p>

<p>Let's create regular Nette component and dial our Vue component inside
it's Latte template. Simple, right?</p>

<h3 id="toc-a-simple-example-of-nette-component">A simple example of Nette
component</h3>

<pre
class="language-php"><code>class ProductsAutocomplete extends Control
{

	/**
	 * @var ProductService
	 */
	private $productService;

	public $onSelect = [];


	public function __construct(ProductService $productService)
	{
		$this-&gt;productService = $productService;
	}

	public function render()
	{
		$this-&gt;template-&gt;handleParameter = $this-&gt;getParameterId('productId');
		$this-&gt;template-&gt;setFile(__DIR__ . '/ProductsAutocomplete.latte');
		$this-&gt;template-&gt;render();
	}

	public function handleSelect($productId)
	{
		$product = $this-&gt;productService-&gt;get($productId);
		$this-&gt;onSelect($product);
	}
}</code></pre>

<p>If we want to use our autocomplete component in multiple places, we need to
pass it information on where to look for data. We can do that simply by setting
attributes on a particular element – see props above.</p>

<p>ProductsAutocomplete.latte</p>

<pre
class="language-latte"><code>&lt;div id=&quot;autocomplete&quot;&gt;
    &lt;autocomplete
		inputname=&quot;nameOrCode&quot;
		source=&quot;/api/v1/products&quot;
		placeholder=&quot;Najít produkt&quot;
 		choice=&quot;name&quot;
		ref=&quot;autocomplete&quot;
	&gt;&lt;/autocomplete&gt;
&lt;/div&gt;</code></pre>

<p>Once we choose the suggested item, we should process the result in Nette
(PHP) i.e., by using signals of <a
href="https://doc.nette.org/en/application/components">Nette component</a></p>

<pre
class="language-diff"><code>-&lt;div id=&quot;autocomplete&quot;&gt;
+&lt;div id=&quot;autocomplete&quot;  data-handle-link=&quot;{link select!}&quot; data-handle-param=&quot;{$handleParameter}&quot;&gt;
    &lt;autocomplete
		inputname=&quot;nameOrCode&quot;
		source=&quot;/api/v1/products&quot;
		placeholder=&quot;Najít produkt&quot;
 		choice=&quot;name&quot;
+		@selected=&quot;onSelect&quot;
		ref=&quot;autocomplete&quot;
	&gt;&lt;/autocomplete&gt;
&lt;/div&gt;</code></pre>

<p>First of all, we pass into Vue the address of our signal, which is called
<code>select</code> and name of Nette component's parameter, so we can call
this signal in javascript after choosing an item from the list. In the next
step, we set up onSelect listener which is fired when an item is selected (see
<code>this.$emit('selected', item);</code> in the Vue component)</p>

<h3 id="toc-vue-instance">Vue instance</h3>

<p>autocomplete.js</p>

<pre
class="language-javascript"><code>import Vue from 'vue';
import axios from 'axios';
import autocomplete from './components/autocomplete';

//for Tracy Debug Bar
axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

var vm = new Vue({
    data: function () {
        return {
            handle: null,
            param: null,
        }
    },
    components: {
		//our component
        autocomplete
    },
    methods: {
        onSelect(item) {
            //is emitted from child component and call nette handleAdd
            axios.get(this.handle + '&amp;' + this.param + '=' + item.id)
                .then( (response) =&gt; {
                    if (response.data.snippets) {
                        this.updates(response.data.snippets);
                    }
                })

        },
        updates(snippets) {
            this.$refs.autocomplete.searchquery = '';

            Object.keys(snippets).forEach((id) =&gt; {
                const el = document.getElementById(id);
                if (el) {
                    this.updateSnippet(el, snippets[id]);
                }
            });

 			//maybe reinit nette.ajax.js for new ajax call
            //$.nette.load();
        },
        updateSnippet(el, content) {
            el.innerHTML = content;
        }
    },
    mounted: function () {
        // `this` points to the vm instance
        this.handle = this.$el.getAttribute('data-handle-link');
        this.param = this.$el.getAttribute('data-handle-param');
    }
}).$mount('#autocomplete');</code></pre>

<p>As you can see from the above code, we register the autocomplete component
into the Vue instance and send the signal to Nette via Axios when onSelect is
fired. Axios doesn't know about Nette snippets, so we need to redraw our snippet
by ourselves. It's possible to use AJAX libraries for Nette(nette.ajax.js,
naja.js), but since all my Vue components use Axios, I stayed with Axios.</p>

<p>If I'm not wrong, it's not possible to read attributes on the parent element
in Vue.js 2, so we need to use a little hack with attaching to
<code>mounted</code> and set data ourselves – see life cycle.</p>

<h3 id="toc-webpack">Webpack</h3>

<p>And finally, we can let Webpack process it. Here's a sample of my Encore
setting.</p>

<pre
class="language-javascript"><code>var Encore = require('@symfony/webpack-encore');
const path = require('path');

Encore
	// directory where compiled assets will be stored
    .setOutputPath('www/assets/admin')
    // public path used by the web server to access the output path
    .setPublicPath('/assets/admin')

    .addEntry('admin', [
        path.resolve(__dirname, 'front_dev/src/vue/autocomplete.js'),
    ])

    .addAliases({
        'nette-forms': path.resolve(__dirname, 'vendor/nette/forms/src/assets/netteForms.js')
    })
    .enableBuildNotifications()
    .enableSingleRuntimeChunk()
    .splitEntryChunks()
    .enableSourceMaps(!Encore.isProduction())
    // enables hashed filenames (e.g. app.abc123.css)
    .enableVersioning(Encore.isProduction())

    .enableSassLoader()
    .enablePostCssLoader()
    .enableVueLoader()</code></pre>

<p>Setting <code>.enableVueLoader()</code> is important here, Webpack would
throw an error about processing Vue files without it. Also, don't forget to
specify the path to all Vue components that we need to process.</p>

<pre
class="language-javascript"><code>Encore
    .addEntry('admin', [
        path.resolve(__dirname, 'front_dev/src/vue/autocomplete.js'),
		path.resolve(__dirname, 'front_dev/src/vue/xxx.js'),
    ])</code></pre>

<p>So now we have our autocomplete component working, and we can start to use it
on many different occasions (searching for products, categories, etc.).
A different signal can process every component. So not only we have <b>reusable
components in Nette but also in Vue</b> :)</p>

			</div>
	</main>


		<div id="comments">

			<p><a href="https://nette.org/en/sign-in?backlink=https%3A%2F%2Fblog.nette.org%2Fen%2Fvue-js-with-nette%23addcomment">Sign in to submit a comment</a></p>
		</div>
	</div>
</div>


<div class="content">
	<h2>Recent posts</h2>

	<div class="blogGrid">
	<div class="blogTile" lang="en">
		<div class="blogTile-figure">
			<a href="/en/differentiated-error-presenters-4xx-and-5xx">
				<img class="blogTile-image" src="https://files.nette.org/blog/main/497-s.jpg" loading="lazy">
			</a>

		</div>

		<div class="blogTile-text">
			<a href="/en/differentiated-error-presenters-4xx-and-5xx" rel="bookmark">
				<h3>Differentiated Error-Presenters 4xx and 5xx</h3>
				<p>
					Until now, when an error occurred in your application, you had a standard single setting for handling all errors. Nette Application 3.2 allows you to specify different presenters for different types of errors. Specifically, you can have one presenter for BadRequestException (4xx type errors) and…
				</p>
			</a>

	<div class="blogMeta flex is-vcentered is-always">
		<div class="blogMeta-avatar is-narrow">
			<img src="https://www.gravatar.com/avatar.php?gravatar_id=583bcf76466286a687368ef66a21e5cd&amp;size=128" width="64" alt="">
		</div>

		<div>
			<div>
				<b><a href="https://davidgrudl.com">David Grudl</a></b>
			</div>

			<div>
				<span title="24. 4. 2024">15 days ago</span>
				&nbsp;·&nbsp;
				a minute to read
				
			</div>
		</div>
	</div>
		</div>
	</div>
	<div class="blogTile" lang="en">
		<div class="blogTile-figure">
			<a href="/en/requires-attribute-simplifies-access-control">
				<img class="blogTile-image" src="https://files.nette.org/blog/monster-2.webp" loading="lazy">
			</a>

		</div>

		<div class="blogTile-text">
			<a href="/en/requires-attribute-simplifies-access-control" rel="bookmark">
				<h3>#[Requires] Attribute Simplifies Access Control</h3>
				<p>
					The #[Requires] attribute allows you to define rules for accessing presenters or their methods. Imagine being able to restrict access to certain actions to POST requests only, or conversely, allow calls only from AJAX. This is now possible.
				</p>
			</a>

	<div class="blogMeta flex is-vcentered is-always">
		<div class="blogMeta-avatar is-narrow">
			<img src="https://www.gravatar.com/avatar.php?gravatar_id=583bcf76466286a687368ef66a21e5cd&amp;size=128" width="64" alt="">
		</div>

		<div>
			<div>
				<b><a href="https://davidgrudl.com">David Grudl</a></b>
			</div>

			<div>
				<span title="22. 4. 2024">17 days ago</span>
				&nbsp;·&nbsp;
				2 minutes to read
				
			</div>
		</div>
	</div>
		</div>
	</div>
	<div class="blogTile" lang="en">
		<div class="blogTile-figure">
			<a href="/en/elegant-presenter-structuring">
				<img class="blogTile-image" src="https://files.nette.org/blog/main/499-s.jpg" loading="lazy">
			</a>

		</div>

		<div class="blogTile-text">
			<a href="/en/elegant-presenter-structuring" rel="bookmark">
				<h3>Elegant Presenter Structuring</h3>
				<p>
					Do you appreciate order and structure? When everything is exactly where it should be, making it easy to navigate? Of course—who wouldn’t. Nette Framework 3.2 introduces a new way to organize presenters and their templates in your application.
				</p>
			</a>

	<div class="blogMeta flex is-vcentered is-always">
		<div class="blogMeta-avatar is-narrow">
			<img src="https://www.gravatar.com/avatar.php?gravatar_id=583bcf76466286a687368ef66a21e5cd&amp;size=128" width="64" alt="">
		</div>

		<div>
			<div>
				<b><a href="https://davidgrudl.com">David Grudl</a></b>
			</div>

			<div>
				<span title="19. 4. 2024">20 days ago</span>
				&nbsp;·&nbsp;
				3 minutes to read
				
			</div>
		</div>
	</div>
		</div>
	</div>
	</div>
</div>
	</div>
	</div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="display:none">
	<symbol id="icon-github" fill="currentColor" viewBox="0 0 32 32"><path d="M16 .4C7.2.4 0 7.6 0 16.4c0 7.1 4.6 13.1 10.9 15.2.8.1 1.1-.3 1.1-.8v-2.7c-4.5 1-5.4-2.1-5.4-2.1-.7-1.8-1.8-2.3-1.8-2.3-1.5-1 .1-1 .1-1 1.6.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3.1-1 .6-1.7 1-2.1-3.6-.4-7.3-1.8-7.3-7.9 0-1.7.6-3.2 1.6-4.3-.2-.4-.7-2 .2-4.2 0 0 1.3-.4 4.4 1.6 1.3-.4 2.6-.5 4-.5s2.7.2 4 .5C23.1 6.6 24.4 7 24.4 7c.9 2.2.3 3.8.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9.6.5 1.1 1.5 1.1 3v4.4c0 .4.3.9 1.1.8C27.4 29.5 32 23.5 32 16.4c0-8.8-7.2-16-16-16z"></path></symbol>
	<symbol id="icon-twitter" fill="currentColor" viewBox="-0.1 3 32.1 26"><path d="M32 6.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6C25.7 3.8 24 3 22.2 3c-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.6-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 3 1.8 6.5 2.9 10.2 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.2-1 2.3-2.1 3.2-3.4z"></path></symbol>
</svg>

	<footer class="footer">
		<div class="container">
			<div class="flex is-multiline is-always footer-columns">
				<div class="is-narrow">
					<h6>Check our other projects</h6>
					<ul>
						<li><a href="https://doc.nette.org/en/application">Web Framework <span>component-based MVC</span></a></li>
						<li><a href="https://latte.nette.org/">Latte <span>the safest &amp; intuitive templates</span></a></li>
						<li><a href="https://tester.nette.org/">Tester <span>enjoyable unit testing in PHP</span></a></li>
						<li><a href="https://tracy.nette.org/">Tracy <span>debugging tool you will love ♥</span></a></li>
						<li><a href="https://doc.nette.org/en/dependency-injection">Dependency Injection <span>challenging container</span></a></li>
						<li><a href="https://doc.nette.org/en/caching">Caching</a></li>
						<li><a href="https://doc.nette.org/en/database">Database <span>layer for PHP</span></a></li>
						<li><a href="https://doc.nette.org/en/forms">Forms <span>greatly facilitates web forms</span></a></li>
						<li><a href="https://doc.nette.org/en/mail">Mail <span>sending emails</span></a></li>
						<li><a href="https://doc.nette.org/en/neon">Neon <span>readable file format</span></a></li>
						<li><a href="https://doc.nette.org/en/php-generator">PHP Code Generator</a></li>
						<li><a href="https://doc.nette.org/en/schema">Schema <span>user data validation</span></a></li>
						<li><a href="https://doc.nette.org/en/utils">Utils <span>collection of useful utilities</span></a></li>
						<li><a href="https://nette.org/en/packages">…list of all packages</a></li>
					</ul>
				</div>

				<div class="is-narrow">
					<h6>Help &amp; Support</h6>
					<ul>
						<li><a href="https://forum.nette.org/en/">Forum</a></li>
						<li><a href="https://discord.gg/azXxTbuQVq">Discord Nette</a></li>
						<li><a href="https://nette.org/en/releases">Release Notes</a></li>
						<li><a href="https://commits.nette.org">Commits</a></li>
					</ul>

					<h6>Learn</h6>
					<ul>
						<li><a href="https://doc.nette.org">Documentation</a></li>
						<li><a href="https://blog.nette.org">Blog</a></li>
						<li><a href="https://api.nette.org">API</a></li>
						<li><a href="https://nette.org/en/history">About Nette</a></li>
					</ul>
				</div>

				<div class="is-narrow">
					<h6>Community</h6>
					<ul>
						<li><a href="https://nette.org/en/donate#platinum-partner">Partners and sponsors</a></li>
						<li><a href="https://github.com/nette">GitHub</a></li>
						<li><a href="https://componette.org">Componette</a></li>
						<li><a href="https://nette.org/contributors">Hall of Fame</a></li>
						<li><a href="https://builtwith.nette.org/">Showcase</a></li>
					</ul>
					<ul>
						<li><a href="https://nette.org/donate">Donate Now</a></li>
					</ul>
				</div>
				<div class="is-narrow footer-newsletter">
					<h6>Choose your language</h6>

					<ul>
							<li><a href="https://blog.nette.org/cs/vue-js-v-nette" hreflang="cs">Česky</a></li>
							<li><b><a href="https://blog.nette.org/en/vue-js-with-nette" hreflang="en">English</a></b></li>
					</ul>

					<h6>Follow us</h6>

					<div class="social-big-icons">
						<a href="https://blog.nette.org" title="Nette Blog"><img src="https://files.nette.org/images/icon-blog.png" alt="Nette Blog"></a>
						<a href="https://twitter.com/nettefw" title="Twitter"><img src="https://files.nette.org/images/icon-twitter.png" alt="Twitter"></a>
					</div>
				</div>
			</div>

			<hr>

			<p>Hosted on e-infrastructure <a href="https://www.cesnet.cz/sluzby/">CESNET</a>. Thank you for your support CESNET association</p>

			<p>&copy; 2008, 2024 <a href="https://davidgrudl.com">David Grudl</a>. All rights reserved. &nbsp;
				<a href="https://nette.org/terms-of-use">Terms of use</a>
				<a style="float:right" href="#top">▲ up</a></p>
		</div>
	</footer>
</body>
</html>
