{*layout '../@layout.latte'*}

{var $title = "CMS main"}
{var $description = "Admin Simple CMS main"}
{var $keywords = "Admin, SimpleCMS, CMS main"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
    <h2 class="text-center mb-3">CMS</h2>
    {if !empty($currentPageMenu) && is_array($currentPageMenu)}
        {include menu from $shared_templates.'menu.latte', $currentPageMenu}
    {/if}
</div>