{*layout '../@layout.latte'*}

{var $title = "CMS main"}
{var $description = "Admin Simple CMS main"}
{var $keywords = "Admin, SimpleCMS, CMS main"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
<div class="container">
<h2 class="text-center">CMS</h2>
 <br />
    {include menu from $shared_templates.'menu.latte', $pageList}
</div>

{*php print_r($pageList)*}