{*layout '../@layout.latte'*}

{var $title = "User search"}
{var $description = "User search"}
{var $keywords = "User search"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}
search user by name, phone, email, role etc