{*layout '../@layout.latte'*}

{var $title = "Create page"}
{var $description = "Admin Simple CMS Page Create"}
{var $keywords = "Admin, SimpleCMS, Page, Create"}
{var $robots = "NOINDEX,NOFOLLOW"}

{block content}	
Page create